# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
/test/init_data/test_data/test_py/
/data/exe/
/data/tags/
/data/reports/
src/utils/compile/clang.exe
src/utils/report/pandoc.exe
/src/config/
